/*  Colours:
    #f39c12 - Orange - Accent
    #222f3d - Darker blue - Header/Footer
    #34495e - Medium blue - Background
    #a5cee8 - Lighter blue - Text
*/
#map{
    background: url(Images/StaticMap.webp); 
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 450px;
}

#customBody{
    background-color: #32475d;
    color: #a5cee8;
}

#logo{
    border: #f39c12;
    border-width: 5px;
}

#customHeaderAndFooter{
    background-color: #222f3d;
    color: #a5cee8;
}
#customHeaderAndFooter a {
    color: #a5cee8;
    text-decoration: none;
    padding: 0 1rem;
}
#customHeaderAndFooter a:hover {
    color: #f39c12;
    text-decoration: dotted;
}
#customHeaderAndFooter a:active {
    color: #f39c12;
    text-decoration: dotted;
}
#shoppingCartModal, #shoppingCartModalLabel {
    background-color: #32475d;
    border-color: #f39c12;
    border-width: 2px;
}
#custom-accordion-body {
    background-color: #32475d;
    border-color: #f39c12;
    border-width: 2px;
}
#custom-header-button {
    background-color: #32475d;
    color: #a5cee8;
    border-width: 0px;
    width: 100%;
}
#custom-header-button:active {
    border-width: 0px;
}
#custom-header-button:focus {
    border-width: 0px;
}
#services-accordion-container {
    padding: 1rem;
}
#services-accordion-image {
    margin-right: 1rem;
}